@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.Background {
  width: 100vw;
  height: 100vh;
  background-color: black; //temporarly
  display: grid;
  place-items: center;

  .MainContainer {
    width: 90%;
    height: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
  }

  .ButtonContainer {

  }
}
