.homepage-hero {
  background: url('/hero-background-photo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100rem;
  width: 100%;
  padding: 8% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: relative;

  &__logo {
    max-width: 23rem;
  }

  &__heading {
    font-size: 2.3rem;
    text-transform: lowercase;
  }

  &__description {
    max-width: 50rem;
  }

  &__caption {
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &__link {
    text-decoration: none;
    font-style: italic;
    font-size: 1.9rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}