<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kacper Walter</title>

    <meta name="description" content="Szukasz programisty webowego lub web designera, który sprawi, że Twoja witryna nabierze nowego blasku? Sprawdź koniecznie moje usługi!">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178115646-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178115646-1');
    </script>
</head>
<body>

    <div class="layer" id="bg" data-speed="2">
        <div class="main-container">
            <nav class="navbar layer" data-speed="2">
                <img src="" class="navbar__logo layer" data-speed="3">
                <h1 class="navbar__title layer" data-speed="4">web dev & UI designer</h1>
            </nav>
        </div>
    </div>

    <div class="cursor"></div>
</body>
</html>