<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kacper Walter</title>

    <meta name="description" content="Szukasz programisty webowego lub web designera, który sprawi, że Twoja witryna nabierze nowego blasku? Sprawdź koniecznie moje usługi!">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178115646-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178115646-1');
    </script>
</head>
<body>

    <div class="layer" id="bg" data-speed="2">
        <div class="main-container">
            <nav class="navbar layer" data-speed="2">
                <img src="" class="navbar__logo layer" data-speed="3">
                <h1 class="navbar__title layer" data-speed="4">web dev & UI designer</h1>
            </nav>
            <section class="section">
                <div class="section__description layer" data-speed="3">
                    <!-- made it as a fetch from google sheets file endpoint -->
                    <p>Jestem web developerem i UI designerem, specjalizującym się w tworzeniu witryn internetowych w oparciu o nowoczesne standardy. Zapraszam do współpracy!</p>
                </div>
                <div class="social-buttons layer" data-speed="2">
                    <div class="social-buttons__github">
                        <a href="https://github.com/kacperwalter">GitHub</a>
                    </div>
                    <div class="social-buttons__behance">
                        <a href="https://www.behance.net/kacwal4f66">Behance</a>
                    </div>
                    <div class="social-buttons__linkedin">
                        <a href="https://www.linkedin.com/in/kacper-walter-74525b153/">Linkedin</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="cursor"></div>
</body>
</html>