@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  cursor: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

a:link {
  color: white;
  text-decoration: none;
  cursor: none;
}

a:visited {
  color: white;
  text-decoration: none;
  cursor: none;
}

.cursor {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -9px;
  left: -9px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

.cursor-expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid white;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

#bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  color: white;
  width: 85%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container nav img {
  width: 200px;
}

.main-container nav h1 {
  font-weight: 500;
  font-size: 1.6em;
}

.main-container section {
  position: absolute;
  bottom: 7%;
}

.main-container section .description {
  width: 100%;
  font-size: 1.7em;
}

.main-container section .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6%;
  font-weight: 300;
  font-size: 1.6em;
}

.main-container section .social-buttons .behance {
  margin-left: 5%;
}

.main-container section .social-buttons .linkedin {
  margin-left: 5%;
}

.glitch:hover {
  position: relative;
  color: white;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 85px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  5% {
    clip: rect(62px, 9999px, 82px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  10% {
    clip: rect(53px, 9999px, 37px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  15% {
    clip: rect(93px, 9999px, 53px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  20% {
    clip: rect(70px, 9999px, 37px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  25% {
    clip: rect(70px, 9999px, 97px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  30% {
    clip: rect(69px, 9999px, 21px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  35% {
    clip: rect(87px, 9999px, 53px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  40% {
    clip: rect(54px, 9999px, 76px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  45% {
    clip: rect(86px, 9999px, 64px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  50% {
    clip: rect(40px, 9999px, 16px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  55% {
    clip: rect(59px, 9999px, 19px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  60% {
    clip: rect(9px, 9999px, 10px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(25px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  70% {
    clip: rect(83px, 9999px, 91px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  75% {
    clip: rect(2px, 9999px, 9px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  80% {
    clip: rect(20px, 9999px, 70px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  85% {
    clip: rect(36px, 9999px, 42px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(22px, 9999px, 25px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  95% {
    clip: rect(40px, 9999px, 59px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  100% {
    clip: rect(47px, 9999px, 91px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 85px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  5% {
    clip: rect(62px, 9999px, 82px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  10% {
    clip: rect(53px, 9999px, 37px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  15% {
    clip: rect(93px, 9999px, 53px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  20% {
    clip: rect(70px, 9999px, 37px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  25% {
    clip: rect(70px, 9999px, 97px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  30% {
    clip: rect(69px, 9999px, 21px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  35% {
    clip: rect(87px, 9999px, 53px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  40% {
    clip: rect(54px, 9999px, 76px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  45% {
    clip: rect(86px, 9999px, 64px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  50% {
    clip: rect(40px, 9999px, 16px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  55% {
    clip: rect(59px, 9999px, 19px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  60% {
    clip: rect(9px, 9999px, 10px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(25px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  70% {
    clip: rect(83px, 9999px, 91px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  75% {
    clip: rect(2px, 9999px, 9px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  80% {
    clip: rect(20px, 9999px, 70px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  85% {
    clip: rect(36px, 9999px, 42px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(22px, 9999px, 25px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  95% {
    clip: rect(40px, 9999px, 59px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  100% {
    clip: rect(47px, 9999px, 91px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(10px, 9999px, 51px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  5% {
    clip: rect(19px, 9999px, 1px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  10% {
    clip: rect(84px, 9999px, 97px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  15% {
    clip: rect(96px, 9999px, 86px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  20% {
    clip: rect(15px, 9999px, 12px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  25% {
    clip: rect(40px, 9999px, 53px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  30% {
    clip: rect(51px, 9999px, 96px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  35% {
    clip: rect(22px, 9999px, 53px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  40% {
    clip: rect(9px, 9999px, 26px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  45% {
    clip: rect(49px, 9999px, 66px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  50% {
    clip: rect(61px, 9999px, 17px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  55% {
    clip: rect(67px, 9999px, 60px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  60% {
    clip: rect(11px, 9999px, 13px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  65% {
    clip: rect(34px, 9999px, 16px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  70% {
    clip: rect(55px, 9999px, 82px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  75% {
    clip: rect(56px, 9999px, 48px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  80% {
    clip: rect(2px, 9999px, 64px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  85% {
    clip: rect(73px, 9999px, 69px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  90% {
    clip: rect(5px, 9999px, 68px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  95% {
    clip: rect(30px, 9999px, 27px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  100% {
    clip: rect(15px, 9999px, 48px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(10px, 9999px, 51px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  5% {
    clip: rect(19px, 9999px, 1px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  10% {
    clip: rect(84px, 9999px, 97px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  15% {
    clip: rect(96px, 9999px, 86px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  20% {
    clip: rect(15px, 9999px, 12px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  25% {
    clip: rect(40px, 9999px, 53px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  30% {
    clip: rect(51px, 9999px, 96px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  35% {
    clip: rect(22px, 9999px, 53px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  40% {
    clip: rect(9px, 9999px, 26px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  45% {
    clip: rect(49px, 9999px, 66px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  50% {
    clip: rect(61px, 9999px, 17px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  55% {
    clip: rect(67px, 9999px, 60px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  60% {
    clip: rect(11px, 9999px, 13px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  65% {
    clip: rect(34px, 9999px, 16px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  70% {
    clip: rect(55px, 9999px, 82px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  75% {
    clip: rect(56px, 9999px, 48px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  80% {
    clip: rect(2px, 9999px, 64px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  85% {
    clip: rect(73px, 9999px, 69px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  90% {
    clip: rect(5px, 9999px, 68px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  95% {
    clip: rect(30px, 9999px, 27px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  100% {
    clip: rect(15px, 9999px, 48px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  10% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  90% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  100% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  10% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  90% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  100% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
}

@media (min-width: 576px) {
  .main-container section .description {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .main-container section .description {
    width: 75%;
  }
  .main-container section .social-buttons {
    margin-top: 5%;
  }
}

@media (min-width: 992px) {
  .main-container section .description {
    width: 70%;
  }
  .main-container section .social-buttons {
    margin-top: 3%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1200px) {
  .main-container section .description {
    width: 60%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1350px) {
  .main-container section .description {
    width: 53%;
  }
}

@media (min-width: 1700px) {
  .main-container {
    width: 90%;
  }
  .main-container section .description {
    width: 42%;
  }
  .main-container section .social-buttons {
    margin-top: 2%;
  }
}
/*# sourceMappingURL=main.css.map */