@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  cursor: none;
}

a:link {
  color: white;
  text-decoration: none;
  cursor: none;
}

a:visited {
  color: white;
  text-decoration: none;
  cursor: none;
}

.cursor {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -9px;
  left: -9px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

.cursor-expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid white;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

#bg {
  background-image: url("../img/background-photo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  color: white;
  width: 85%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container nav img {
  width: 200px;
}

.main-container nav h1 {
  font-weight: 500;
  font-size: 1.6em;
}

.main-container section {
  position: absolute;
  bottom: 7%;
}

.main-container section .description {
  width: 100%;
  font-size: 1.7em;
}

.main-container section .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6%;
  font-weight: 300;
  font-size: 1.6em;
}

.main-container section .social-buttons .behance {
  margin-left: 5%;
}

.main-container section .social-buttons .linkedin {
  margin-left: 5%;
}

@media (min-width: 576px) {
  .main-container section .description {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .main-container section .description {
    width: 75%;
  }
  .main-container section .social-buttons {
    margin-top: 5%;
  }
}

@media (min-width: 992px) {
  .main-container section .description {
    width: 70%;
  }
  .main-container section .social-buttons {
    margin-top: 3%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1200px) {
  .main-container section .description {
    width: 60%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1350px) {
  .main-container section .description {
    width: 53%;
  }
}

@media (min-width: 1700px) {
  .main-container {
    width: 90%;
  }
  .main-container section .description {
    width: 42%;
  }
  .main-container section .social-buttons {
    margin-top: 2%;
  }
}
/*# sourceMappingURL=main.css.map */