@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.glitch:hover {
  position: relative;
  color: white;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 yellowgreen;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px yellowgreen;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(42px, 9999px, 55px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  5% {
    clip: rect(82px, 9999px, 43px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  10% {
    clip: rect(10px, 9999px, 25px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  15% {
    clip: rect(52px, 9999px, 23px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  20% {
    clip: rect(96px, 9999px, 40px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  25% {
    clip: rect(98px, 9999px, 100px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  30% {
    clip: rect(33px, 9999px, 46px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  35% {
    clip: rect(81px, 9999px, 8px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  40% {
    clip: rect(73px, 9999px, 1px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(36px, 9999px, 90px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  50% {
    clip: rect(90px, 9999px, 66px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(22px, 9999px, 17px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  60% {
    clip: rect(41px, 9999px, 51px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  65% {
    clip: rect(74px, 9999px, 59px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  70% {
    clip: rect(70px, 9999px, 26px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  75% {
    clip: rect(89px, 9999px, 22px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  80% {
    clip: rect(2px, 9999px, 9px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  85% {
    clip: rect(98px, 9999px, 63px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  90% {
    clip: rect(15px, 9999px, 6px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  95% {
    clip: rect(2px, 9999px, 49px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  100% {
    clip: rect(6px, 9999px, 86px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(42px, 9999px, 55px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  5% {
    clip: rect(82px, 9999px, 43px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  10% {
    clip: rect(10px, 9999px, 25px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  15% {
    clip: rect(52px, 9999px, 23px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  20% {
    clip: rect(96px, 9999px, 40px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  25% {
    clip: rect(98px, 9999px, 100px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  30% {
    clip: rect(33px, 9999px, 46px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  35% {
    clip: rect(81px, 9999px, 8px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  40% {
    clip: rect(73px, 9999px, 1px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(36px, 9999px, 90px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  50% {
    clip: rect(90px, 9999px, 66px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(22px, 9999px, 17px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  60% {
    clip: rect(41px, 9999px, 51px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  65% {
    clip: rect(74px, 9999px, 59px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  70% {
    clip: rect(70px, 9999px, 26px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  75% {
    clip: rect(89px, 9999px, 22px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  80% {
    clip: rect(2px, 9999px, 9px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  85% {
    clip: rect(98px, 9999px, 63px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  90% {
    clip: rect(15px, 9999px, 6px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  95% {
    clip: rect(2px, 9999px, 49px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  100% {
    clip: rect(6px, 9999px, 86px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(100px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  5% {
    clip: rect(79px, 9999px, 14px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  10% {
    clip: rect(14px, 9999px, 66px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  15% {
    clip: rect(53px, 9999px, 98px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  20% {
    clip: rect(46px, 9999px, 73px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  25% {
    clip: rect(40px, 9999px, 11px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  30% {
    clip: rect(87px, 9999px, 53px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  35% {
    clip: rect(68px, 9999px, 67px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  40% {
    clip: rect(55px, 9999px, 68px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  45% {
    clip: rect(66px, 9999px, 100px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  50% {
    clip: rect(79px, 9999px, 29px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  55% {
    clip: rect(70px, 9999px, 19px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  60% {
    clip: rect(44px, 9999px, 88px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  65% {
    clip: rect(73px, 9999px, 46px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  70% {
    clip: rect(70px, 9999px, 88px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  75% {
    clip: rect(91px, 9999px, 45px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  80% {
    clip: rect(71px, 9999px, 56px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  85% {
    clip: rect(9px, 9999px, 54px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
  90% {
    clip: rect(16px, 9999px, 72px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  95% {
    clip: rect(83px, 9999px, 81px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  100% {
    clip: rect(34px, 9999px, 71px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(100px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  5% {
    clip: rect(79px, 9999px, 14px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  10% {
    clip: rect(14px, 9999px, 66px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  15% {
    clip: rect(53px, 9999px, 98px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  20% {
    clip: rect(46px, 9999px, 73px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  25% {
    clip: rect(40px, 9999px, 11px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  30% {
    clip: rect(87px, 9999px, 53px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  35% {
    clip: rect(68px, 9999px, 67px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  40% {
    clip: rect(55px, 9999px, 68px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  45% {
    clip: rect(66px, 9999px, 100px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  50% {
    clip: rect(79px, 9999px, 29px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  55% {
    clip: rect(70px, 9999px, 19px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  60% {
    clip: rect(44px, 9999px, 88px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  65% {
    clip: rect(73px, 9999px, 46px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  70% {
    clip: rect(70px, 9999px, 88px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  75% {
    clip: rect(91px, 9999px, 45px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  80% {
    clip: rect(71px, 9999px, 56px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  85% {
    clip: rect(9px, 9999px, 54px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
  90% {
    clip: rect(16px, 9999px, 72px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  95% {
    clip: rect(83px, 9999px, 81px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  100% {
    clip: rect(34px, 9999px, 71px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  cursor: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

a:link {
  color: white;
  text-decoration: none;
  cursor: none;
}

a:visited {
  color: white;
  text-decoration: none;
  cursor: none;
}

.cursor {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -9px;
  left: -9px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

.cursor-expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid white;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

#bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  color: white;
  width: 85%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container nav img {
  width: 200px;
}

.main-container nav h1 {
  font-weight: 500;
  font-size: 1.6em;
}

.main-container section {
  position: absolute;
  bottom: 7%;
}

.main-container section .description {
  width: 100%;
  font-size: 1.7em;
}

.main-container section .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6%;
  font-weight: 300;
  font-size: 1.6em;
}

.main-container section .social-buttons .behance {
  margin-left: 5%;
}

.main-container section .social-buttons .linkedin {
  margin-left: 5%;
}

@media (min-width: 576px) {
  .main-container section .description {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .main-container section .description {
    width: 75%;
  }
  .main-container section .social-buttons {
    margin-top: 5%;
  }
}

@media (min-width: 992px) {
  .main-container section .description {
    width: 70%;
  }
  .main-container section .social-buttons {
    margin-top: 3%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1200px) {
  .main-container section .description {
    width: 60%;
  }
  .main-container section .social-buttons .behance {
    margin-left: 4%;
  }
  .main-container section .social-buttons .linkedin {
    margin-left: 4%;
  }
}

@media (min-width: 1350px) {
  .main-container section .description {
    width: 53%;
  }
}

@media (min-width: 1700px) {
  .main-container {
    width: 90%;
  }
  .main-container section .description {
    width: 42%;
  }
  .main-container section .social-buttons {
    margin-top: 2%;
  }
}
/*# sourceMappingURL=main.css.map */